In [3]:
import pandas as pd

ds_1 = pd.read_excel('Data-Source/trends-tbl1-2016.xls')
ds_1.head()

,"Analysis Division, Federal Motor Carrier Safety Administration",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Large Truck and Bus Crash Facts 2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FMCSA-RRA-17-016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,May 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Trends Table 1. Large Truck and Bus Fatal Cras...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN